<nav class="navbar navbar-expand-lg bg-warning opacity-9 fixed-top navbar-transparent" color-on-scroll="500">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" [routerLink]="['/profile']" placement="bottom" ngbTooltip="Designed by Plastikaweb">
        <img class="navbar-brand-logo" src="assets/img/safari-pinned-tab.svg" alt="plastikaweb" />
        Plastikaweb
      </a>
    </div>
    <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            rel="tooltip"
            title="Plastikaweb on GitLab"
            data-placement="bottom"
            href="https://gitlab.com/plastikaweb"
            target="_blank"
          >
            <i class="fab fa-gitlab"></i>
            <p class="d-lg-none d-xl-none">Gitlab</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            rel="tooltip"
            title="Plastikaweb on Github"
            data-placement="bottom"
            href="https://github.com/plastikaweb"
            target="_blank"
          >
            <i class="fab fa-github"></i>
            <p class="d-lg-none d-xl-none">Github</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            rel="tooltip"
            title="Plastikaweb on LinkedIn"
            data-placement="bottom"
            href="https://www.linkedin.com/in/plastikaweb"
            target="_blank"
          >
            <i class="fab fa-linkedin"></i>
            <p class="d-lg-none d-xl-none">LinkedIn</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
