<div class="wrapper">
  <div class="page-header page-header-small" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg10.jpg');"></div>
    <div class="container">
      <div class="content-center">
        <div class="photo-container">
          <img src="assets/img/carlos.jpg" alt="Carlos Matheu - Plastikaweb" />
        </div>
        <h3 class="title">Carlos Matheu</h3>
        <p class="category">Frontend Developer</p>
        <p>Barcelona</p>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="button-container">
        <a
          href="https://gitlab.com/plastikaweb"
          class="btn btn-default btn-round btn-lg btn-icon"
          rel="tooltip"
          title="Plastikaweb on GitLab"
        >
          <i class="fab fa-gitlab"></i>
        </a>
        <a
          href="https://github.com/plastikaweb"
          class="btn btn-default btn-round btn-lg btn-icon"
          rel="tooltip"
          title="Plastikaweb on Github"
        >
          <i class="fab fa-github"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/plastikaweb"
          class="btn btn-default btn-round btn-lg btn-icon"
          rel="tooltip"
          title="Plastikaweb on LinkedIn"
        >
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="mailto:info@plastikaweb.com" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Plastikaweb mail">
          <i class="fab fa fa-envelope"></i>
        </a>
      </div>
      <h3 class="title">About me</h3>
      <h4 class="description">
        More than 15 years programming experience. <br />Especially interested in projects with a social and collaborative value that bring
        new technologies to the people and the communities for cooperative and social ends.
      </h4>

      <div class="row">
        <div class="col-md-12">
          <h4 class="title text-center">My Skills</h4>

          <div class="d-flex skills justify-content-center flex-wrap">
            <img class="p-2" src="assets/img/skills/angular.png" alt="angular" />

            <img class="p-2" src="assets/img/skills/javascript.png" alt="javascript" />

            <img class="p-2" src="assets/img/skills/typescript.png" alt="typescript" />

            <img class="p-2" src="assets/img/skills/ngrx.png" alt="@ngrx" />

            <img class="p-2" src="assets/img/skills/rxjs.png" alt="rxjs" />

            <img class="p-2" src="assets/img/skills/material.png" alt="material" />

            <img class="p-2" src="assets/img/skills/pwa.png" alt="progressive web apps" />

            <img class="p-2" src="assets/img/skills/nestjs.png" alt="nest.js" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer footer-default">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="mailto:info@plastikaweb.com">
              info[@]plastikaweb.com
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        &copy;
        {{ data | date: 'yyyy' }} <a href="https://www.plastikaweb.com" target="_blank">Plastikaweb 🚀 </a>.
      </div>
    </div>
  </footer>
</div>
