<div class="wrapper">
  <div class="page-header page-header-small" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg5.jpg')"></div>
    <div class="container">
      <div class="content-center">
        <div class="photo-container">
          <img src="assets/img/carlos.jpg" alt="Carlos Matheu - Plastikaweb" />
        </div>
        <h3 class="title">Carlos Matheu Armengol</h3>
        <p class="category">Angular Freelance Developer</p>
        <p>Barcelona</p>
        <p>More than 16 years programming experience.</p>
        <h4 class="available">
          <i class="now-ui-icons ui-1_check"></i>
          Availability: from October the 3rd
        </h4>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="button-container">
        <a
          href="https://gitlab.com/plastikaweb"
          class="btn btn-default btn-round btn-lg btn-icon"
          rel="tooltip"
          title="Plastikaweb on GitLab"
        >
          <i class="fab fa-gitlab"></i>
        </a>
        <a
          href="https://github.com/plastikaweb"
          class="btn btn-default btn-round btn-lg btn-icon"
          rel="tooltip"
          title="Plastikaweb on Github"
        >
          <i class="fab fa-github"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/plastikaweb"
          class="btn btn-default btn-round btn-lg btn-icon"
          rel="tooltip"
          title="Plastikaweb on LinkedIn"
        >
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="mailto:info@plastikaweb.com" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Plastikaweb mail">
          <i class="fab fa fa-envelope"></i>
        </a>
      </div>
      <h3 class="title">About me</h3>
      <h4 class="description">
        I like to work with Scrum, applying good practices:
        <ul>
          <li><i class="now-ui-icons ui-2_settings-90"></i> The analysis phase is not optional.</li>
          <li><i class="now-ui-icons ui-1_zoom-bold"></i> Attention to detail is great.</li>
          <li><i class="now-ui-icons sport_trophy"></i> A clean and scalable code makes the difference.</li>
          <li><i class="now-ui-icons education_paper"></i> Documentation is essential.</li>
        </ul>
        Especially interested in projects with a social and collaborative value that bring new technologies to the people and the
        communities for cooperative and social ends.
      </h4>

      <div class="row">
        <div class="col-md-12">
          <h4 class="title text-center">My Skills</h4>

          <div class="d-flex skills justify-content-center flex-wrap">
            <img class="p-2" src="assets/img/skills/angular.png" alt="angular" />
            <img class="p-2" src="assets/img/skills/nx.png" alt="nx" />
            <img class="p-2" src="assets/img/skills/typescript.png" alt="typescript" />
            <img class="p-2" src="assets/img/skills/ngrx.png" alt="@ngrx" />
            <img class="p-2" src="assets/img/skills/rxjs.png" alt="rxjs" />
            <img class="p-2" src="assets/img/skills/material.png" alt="material" />
            <img class="p-2" src="assets/img/skills/javascript.png" alt="javascript" />
            <img class="p-2" src="assets/img/skills/graphql.png" alt="graphQL" />
            <img class="p-2" src="assets/img/skills/pwa.png" alt="progressive web apps" />
            <img class="p-2" src="assets/img/skills/nestjs.png" alt="nest.js" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer footer-default">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="mailto:info@plastikaweb.com"> info[@]plastikaweb.com </a>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        &copy;
        {{ data | date: 'yyyy' }} <a href="https://www.plastikaweb.com" target="_blank">Plastikaweb 🚀 </a>.
      </div>
    </div>
  </footer>
</div>
